{% extends "base.html" %}

{% from "util.html" import render_field %}

{% block content %}
    <form class="form-horizontal" id="profile" method="post" action="{{ url_for('profile') }}">
        {{ form.hidden_tag() }}
        <fieldset>
	        <legend>User Profile</legend>
            {{ render_field(form.name, class="input-xlarge", autofocus="autofocus") }}
            {{ render_field(form.email, class="input-xlarge") }}
	        <div class="form-actions">
	            <button type="submit" class="btn btn-primary">Save Profile</button>
	            <a class="btn" href="{{ url_for('index') }}">Cancel</a>
	        </div>
        </fieldset>
    </form>
{% endblock %}
