{% extends "base.html" %}

{% from "util.html" import render_field %}

{% block content %}
    <form class="form-horizontal" id="today" method="post" action="{{ url_for('today') }}">
        {{ form.hidden_tag() }}
        <fieldset>
            <legend>Today's Lunch</legend>
            {{ render_field(form.date) }}
            {{ render_field(form.restaurant) }}
            {{ render_field(form.notes) }}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="reset" class="btn">Cancel</button>
            </div>
        </fieldset>
    </form>
{% endblock %}
